.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background: rgba(2, 194, 255, 0.2);
    backdrop-filter: blur(2px);
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.texto {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}