.container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 15px;
    gap: 10px;
    background: rgba(2, 194, 255, 0.2)!important;
    backdrop-filter: blur(2px)!important;
    border-radius: 8px;
    cursor: pointer;
    width: 100%;
}

.texto {
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 26px;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.btnRespostaNeutro {
    background: linear-gradient(260.22deg, rgba(209, 209, 219, 0.1) 1.09%, rgba(209, 209, 219, 0.1) 66.51%, rgba(209, 209, 219, 0.042) 98.47%);
    backdrop-filter: blur(6.92139px);
    border-radius: 13.8428px;
}

.btnRespostaCorreta {

    background: linear-gradient(260.22deg, rgba(5, 247, 0, 0.1) 1.09%, rgba(100, 202, 65, 0.1) 66.51%, rgba(22, 226, 42, 0.042) 98.47%);
    border: 1px solid rgba(17, 240, 39, 0.33);
    backdrop-filter: blur(6.92139px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 13.8428px;

}

.btnRespostaErrada {
    background: linear-gradient(260.22deg, rgba(254, 0, 0, 0.1) 1.09%, rgba(211, 55, 55, 0.1) 66.51%, rgba(255, 4, 4, 0.059) 98.46%, rgba(239, 30, 30, 0.042) 98.47%);
    border: 1px solid rgba(255, 14, 14, 0.33);
    backdrop-filter: blur(6.92139px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 13.8428px;
}