.cardPrincipal {
    background: linear-gradient(260.22deg, rgba(209, 209, 219, 0.1) 1.09%, rgba(209, 209, 219, 0.1) 66.51%, rgba(209, 209, 219, 0.042) 98.47%) !important;
    backdrop-filter: blur(6.92139px) !important;
    margin-bottom: 1rem;
}

.cardSecundario {
    background: linear-gradient(260.22deg, rgba(209, 209, 219, 0.1) 1.09%, rgba(209, 209, 219, 0.1) 66.51%, rgba(209, 209, 219, 0.042) 98.47%) !important;
    backdrop-filter: blur(6.92139px) !important;
    border-radius: 13.8428px !important;
    margin-bottom: 1rem;
}

.cardImagens {
    background: linear-gradient(260.22deg, rgba(209, 209, 219, 0.1) 1.09%, rgba(209, 209, 219, 0.1) 66.51%, rgba(209, 209, 219, 0.042) 98.47%);
    backdrop-filter: blur(6.92139px);
    /* Note: backdrop-filter has minimal browser support */
    border-radius: 13.8428px;

}

.limitImg{
    border-radius: 1rem;
    overflow: hidden;
}
.limitImg img{
    width: 25rem;
    height: 20rem;
    object-fit: cover;
}