@import url('https://fonts.googleapis.com/css2?family=Major+Mono+Display&display=swap');

.espacamentoMenuCima {
    margin-bottom: 3rem;
}

.espacamentoMenuBaixo {
    margin-top: 3rem;
}

.fundoEscuro {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 20px;
    min-height: 100vh;
    background: linear-gradient(180deg, #091B22 39.6%, rgba(44, 47, 70, 0.84) 100%);
    background-repeat: no-repeat;
}

.tituloLogo {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-size: 48px;
    line-height: 48px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
    text-shadow: -1px -1px 30px #B4FFFF, 3px 3px 50px rgba(255, 255, 255, 0.5);
}

.subTituloLogo {
    font-family: 'Major Mono Display';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    letter-spacing: 0.045em;
    color: #FFFFFF;
}

.personagem {
    cursor: pointer;
}

.inputPrincipal {
    background: linear-gradient(260.22deg, rgba(209, 209, 219, 0.1) 1.09%, rgba(209, 209, 219, 0.1) 66.51%, rgba(209, 209, 219, 0.042) 98.47%);
    border: 1px solid rgba(255, 255, 255, 0.5);
    backdrop-filter: blur(6.92139px);
    border-radius: 13.8428px;
}

.container3D{
    width: 80vw;
    height: 100vh;
    margin: auto;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: hidden;
}

.container3D canvas:nth-child(1){
    display: none;
}

.container3D canvas{
    border-radius: 5rem;
}